@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400,1,500,1,600,1,700,1,800,1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");


$primary: #95E1D3;
$black: #2D3033;
$grey: #A9AFB1;
$white: #FFF;
$red: #F38281;
$orange: #F4BF87;
$greyest: #C6CBCD;

@mixin fontPrimary($size, $weight, $color: $black) {
    font-size: $size;
    font-weight: $weight;
    font-family: 'Raleway', sans-serif;
    @if $color != $black {
        color: $color;
    }
}

@mixin fontPrimaryIt($size, $weight, $color: $black) {
    font-size: $size;
    font-weight: $weight;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    @if $color != $black {
        color: $color;
    }
}

@mixin fontItalic($size, $color: $black) {
    font-size: $size;
    font-family: 'Kaushan Script', cursive;
    @if $color != $black {
        color: $color;
    }
}

@mixin fontWhy($size) {
    font-size: $size;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: $white;
}