.story {
    @include pad(); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .what {
        @include fontItalic (30px);
    }

    h3 {
        @include fontPrimary (36px, 900);
        text-transform: uppercase;
    }

    h3::after {
        content: "";
        width: 170px;
        height: 4px;
        background-color: $red;
        display: block;
        margin: 30px auto;
    }

    .storyDesc {
        @include fontPrimary (18px, 400);
        margin-bottom: 80px;
    }

    .card {
        border: none;
    }

    .cardP {
        height: 350px;
        width: 370px;
        background-image: url(/dist/img/card.png);
        background-size: cover;
        background-repeat: no-repeat;

        .cardPreCol {
            background-color: $primary;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        .cardCol {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.8) 0%, rgba(233, 130, 131, 0.8) 100%);
            transition: 1s;

            button {
                background-color: rgba(0, 0, 0, 0);
                border: none;
            }

            &:hover {
                transform: translate(-20px, -20px);
            }

            .cardIcon {
                background-image: url(/dist/img/team.svg);
                margin-bottom: 30px;
                height: 40px;
                width: 40px;
            }

            .cardDesc {
                @include fontPrimary (24px, 500, $white);
                text-transform: uppercase;
            }
        }
    }

}